html {
  font-size: 10px;
}
body {
  height: 100vh;
  width: 100%;
}
* {
  scroll-behavior: smooth;
}
.btn_orange {
  padding: 1.5rem 6rem;
  background-color: #ff4e2e;
  border: none;
  color: #fff;
  font-size: 1.8rem;
}
.btn_orange:focus {
  outline: none;
}
.btn_orange:active {
  background-color: #fa2600;
}
.btn_call {
  display: block;
  padding: 1rem 3.5rem;
  background-color: transparent;
  border: 1px solid #f82370;
  color: #f53f4f;
  font-size: 1.6rem;
}
.btn_call:focus {
  outline: none;
}
.btn_call:active {
  background-color: #f2f2f2;
}
.main {
  background-color: #fbfbfb;
}
.main-header .btn_call {
  display: inline-block;
}
.main-header-menu {
  padding: 3rem 0;
}
.main-header-menu a {
  margin: 0 1rem;
  color: #1f1f24;
  font-size: 1.6rem;
}
.main-header-menu a:hover {
  text-decoration: none;
  color: #1f1f24;
}
.main-header-menu a:focus {
  color: #fc557c;
  border-bottom: 1px solid #ff4e2e;
}
.main-header-contacts {
  padding: 2rem 0;
}
.main-header-contacts a {
  margin-right: 2rem;
  color: #1f1f24;
  font-size: 2.5rem;
  font-weight: 700;
}
.main-header-contacts a:hover {
  text-decoration: none;
  color: #1f1f24;
}
.main-content-text {
  margin-top: 18rem;
  margin-bottom: 4.6rem;
}
.main-content-text h1 {
  color: #1f1f24;
  font-size: 7rem;
  font-weight: 700;
}
.main-content-text p {
  color: #8993ad;
  font-size: 2.2rem;
  font-weight: 400;
}
.main-content-img {
  width: 46.9rem;
  height: auto;
}
.main-content-img img {
  max-width: 100%;
  height: auto;
}
.work {
  margin-top: 10rem;
}
.work-header h2 {
  color: #262626;
  font-size: 5.4rem;
  font-weight: 700;
}
.work-content {
  margin: 9rem 0;
}
.work-content-block p {
  margin-top: 2.4rem;
  font-size: 1.8rem;
  color: #8993ad;
}
.work .btn_orange {
  margin-bottom: 20rem;
}
.portfolio-header h2 {
  color: #262626;
  font-size: 5.4rem;
  font-weight: 700;
}
.portfolio-content {
  margin: 9rem 0;
}
.portfolio-content-block p {
  color: #8993ad;
  font-size: 2rem;
}
.adaptive {
  background-color: #ff4e2e;
}
.adaptive-header {
  margin-top: 10rem;
  padding: 8rem 0rem 6rem 11rem;
}
.adaptive h3 {
  color: #ffffff;
  font-size: 4.5rem;
  font-weight: 700;
  margin-bottom: 4rem;
}
.adaptive p {
  color: #ffffff;
  font-size: 1.8rem;
}
.contacts {
  padding: 8rem 0;
}
.contacts-menu a {
  display: block;
  font-size: 1.6rem;
  color: #8993ad;
}
.contacts-menu a:nth-child(2) {
  margin-top: 1rem;
}
.contacts-menu a:nth-child(3) {
  margin-top: 1rem;
}
.contacts-menu a:hover {
  text-decoration: none;
  color: #f82370;
}
.contacts_links a {
  display: block;
  margin-left: 1rem;
  font-size: 2rem;
  color: #000000;
}
.contacts_links a:nth-child(2) {
  margin-top: 3rem;
}
.contacts_links a:hover {
  text-decoration: none;
  color: #000000;
}
.contacts_links-text {
  margin-left: 2rem;
  display: inline-block;
}
.contacts .social_links:nth-child(3) {
  margin-left: 1.8rem;
}
.contacts .social_links:nth-child(4) {
  margin-left: 1.8rem;
}
.contacts .social_links:nth-child(5) {
  margin-left: 1.8rem;
}
.contacts i {
  font-size: 2rem;
  color: #8993ad;
}
.contacts .btn_call {
  margin-bottom: 2rem;
}
footer {
  padding: 2.8rem 0;
  background-color: #31293c;
}
footer p {
  color: #ffffff;
  font-size: 1.6rem;
}
@media (max-width: 991px) {
  .main-header-menu {
    text-align: center;
  }
  .main-header-contacts {
    text-align: center;
  }
  .main-header-contacts a {
    display: block;
    margin-bottom: 2rem;
  }
  .main-content img {
    margin: 4rem 12.5rem;
  }
  .main-content button {
    margin: 0 22rem;
  }
  .main-content-text h1 {
    text-align: center;
  }
  .main-content-text p {
    text-align: center;
  }
  .work-content-block {
    margin-bottom: 5rem;
  }
  .contacts-menu {
    margin-bottom: 4rem;
  }
  .contacts-menu a {
    margin: 0 30rem;
  }
  .contacts-menu a:nth-child(1) {
    margin-right: 5rem;
  }
  .contacts-menu a:nth-child(2) {
    margin-right: 5rem;
  }
  .contacts_links {
    margin-bottom: 4rem;
    text-align: center;
  }
  .contacts button {
    margin: 0 auto;
  }
  .contacts .social_links {
    margin-left: 28rem;
  }
}
@media (max-width: 767px) {
  .main-content button {
    margin: 0 13rem;
  }
  .main-content-img img {
    margin: 4rem 3.1rem;
  }
  .main-content-text {
    margin-top: 10rem;
    margin-bottom: 4.6rem;
  }
  .main-content-text h1 {
    font-size: 6rem;
  }
  .contacts-menu a {
    margin-left: 22rem;
  }
  .contacts .social_links {
    margin-left: 18rem;
  }
}
